#navBar {
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navIsVisible {
  visibility: visible;
}

.navIsNotVisible {
  visibility: hidden;
  display: none
}

.title {
  margin: 0;
}

.searchButton {
  margin-left: 10px;
  height: 2em;
  width: 5em;
  background-color: orange;
  border-radius: 1em;
}

.sub {
  text-decoration: none;
  color: black;
  
}

#subreddits ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
}

#subreddits ul li{
  list-style-type: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#subreddits ul .activeSub{
  background-color: rgb(255, 107, 0, 1);
}

#subreddits ul li:hover {
  background-color: rgb(255, 107, 0, .5);
}

#subreddits ul li img {
  width: 2em;
  height: 2em; 
  border-radius: 50%;
}

#subreddits ul li .subName{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}

@media only screen and (max-width : 480px) {
  .mobileNavBar {
    visibility: visible;
  }

  .desktopNavBar {
    visibility: hidden;
    display: none;
  }

  #subreddits{
    position: absolute;
    width: 100%;
  }

  #subreddits ul {
    flex-direction: column;
    background-color: rgb(0, 153, 118);
  }

  #subreddits ul li{
    width: 100%;
  }

  .menuBtn {
    border-radius: 2em;
    width: 11em;
    height: 4em;
    background-color: orange;
    font-weight: bold;
  }
}

@media only screen and (min-width: 481px){
  .mobileNavBar {
    visibility: hidden;
    display: none;
  }
  .desktopNavBar {
    visibility: visible;
  }
}